
/* VARIABLES */

body {
	--font-family_DEFAULT: sans-serif;
	--font-weight_DEFAULT: normal;
	--font-color_DEFAULT: #000000;

	--light-theme_PRIMARY: #ffffff;
	--light-theme_SECONDARY: #ededed;
	--dark-theme_PRIMARY: #000000;
	--dark-theme_SECONDARY: #000001;

	--temp_COLOR: #ececec;
}

/* HTML & BODY */

body, html {
	margin: 0px;
	padding: 0px;
}

/* BODY */

body {
	min-width: 20rem;
	background: var(--light-theme_PRIMARY);
	font-family: var(--font-family_DEFAULT);
}

h1, h2, h3, h4, span, p, a {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	word-wrap: break-word;
	text-decoration: none;
}

/* INDEX */

div.gHj7iC4ev {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

div.gHj7iC4ev div.Vcx3jWa92 {
	flex-direction: row;
	flex-shrink: 0;
	overflow: hidden;
	width: -webkit-fill-available;
	margin: 5px 10px;
}

div.gHj7iC4ev div.Vcx3jWa92 div.Xe1liNc5o {
	height: 10rem;
	background: #ececec;
}

div.gHj7iC4ev div.Vcx3jWa92 div.uGbE3iPzj h3 {
	margin: 8px 0px;
}

div.gHj7iC4ev div.Vcx3jWa92 div.uGbE3iPzj h3 a {
	display: -webkit-box;
	max-height: 2rem;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.15rem;
	text-rendering: optimizeLegibility;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}