html:not(.style-scope) {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f2f2f2;
	--primary-text-color: #212121;
	--secondary-text-color: #b0aebb;
}

html:not(.style-scope) {
	--divider-color: #dbdbdb;
	--error-color: #dd2c00;
}

body {
	min-width: 20rem;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

body {
	background-color: var(--primary-background-color);
}

body {
	font-family: sans-serif;
}

article, aside, footer, header, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6, a, p, span {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	word-wrap: break-word;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.hidden {
	display: none !important;
}

input[type=text],
input[type=password],
input[type=email] {
	box-sizing: border-box;
}

.viuPo4i {
	max-width: 100% !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	word-wrap: normal !important;
}

.gjRu98C {
	text-align: center !important;
}

/* HEADER */



/* INDEX PAGE */

#uE7cQp9 {
	margin-top: 80px;
}

.mGi3aD9 {
	width: 100%;
	padding: 10px;
}

.vRihj5f {
	min-height: 55px;
	margin-left: 3.5rem;
}

.miHu7kL {
	display: flex;
}

.vJrp9i3 {
	max-width: 550px;
	margin-bottom: 15px;
}

.vJrp9i3 .Rtm6Wbq {
	width: 100%;
	min-height: 125px;
	padding: 25px;
	border: none;
	border-radius: 5px;
	font-size: 0.95rem;
	line-height: 1.25;
	font-weight: normal;
	resize: none;
	outline: none;
	font-family: sans-serif;
	background-color: #f7f7ff;
	margin: 0px 0 20px;
	box-sizing: border-box;
	cursor: text;
}

.vJrp9i3 .iMn3p0c {
	padding: 8px 25px;
	background-color: #5fa8d3;
	border: none;
	border-radius: 50px;
	color: #ffffff;
	font-weight: bold;
}

.jGm9Opw2 {
	display: flex;
	max-width: 550px;
	margin: 10px auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.jGm9Opw2 .kJMi8t6 {
	width: 100%;
	min-height: 200px;
	margin: 0 0 20px;
}

.jGm9Opw2 .vkRm90i {
	border: 1px solid #f2f2f2;
	border-radius: 3px;
}

.jGm9Opw2 .jVmA4bK {
	width: 100%;
	height: 150px;
	padding: 15px;
	border: none;
	color: #061025;
	font-family: sans-serif;
	font-size: 0.95rem;
	font-weight: normal;
	outline: none;
	line-height: 1.35;
	box-sizing: border-box;
	resize: none;
}

.jGm9Opw2 .iCRq7tm {
	width: 100%;
	padding: 10px;
}

.jGm9Opw2 .uTckj4o {
	min-height: 55px;
	margin-left: 3.85rem;
}

.jGm9Opw2 .pFcuE83 {
	display: flex;
	margin: 0 0 2px;
}

.jGm9Opw2 .jFmc9i3 {
	display: block !important;
}

.jGm9Opw2 .jGhm6wR {
	width: 2.95rem;
	height: 2.95rem;
	position: absolute;
	margin: 3px 0 0 -3.85rem;
	float: left;
	border-radius: 50px;
	overflow: hidden;
}

.jGm9Opw2 .oCbv4wi {
	width: 100%;
	height: 100%;
}

.jGm9Opw2 .kF2yaCx {
	color: #061025;
	font-size: 0.95rem;
	font-weight: bold;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
}

.jGm9Opw2 .lFhuY4c {
	color: #b1b1b2 !important;
	font-size: 0.95rem !important;
	font-weight: normal !important;
}

.jGm9Opw2 .muR790C {
	color: #b1b1b2 !important;
	font-size: 0.85rem !important;
	font-weight: normal !important;
}

.jGm9Opw2 .muR790C:before {
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	margin: 3px 5px 3px 2px;
	border-radius: 50%;
	background: #b1b1b2;
}

.jGm9Opw2 .mVj8Pc7 {
	font-size: 0.875rem;
	line-height: 1.25;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: #061025;
}

.jGm9Opw2 .cFiR2y7 {
	color: #5fa8d3;
}

.jGm9Opw2 .vkFp9i2 {
	display: inline-flex;
	max-width: 450px;
	max-height: 450px;
	margin: 9px 0 0;
	border-radius: 5px;
	overflow: hidden;
}

.jGm9Opw2 .inBu72m {
	width: 100%;
	height: 100%;
}

.jGm9Opw2 .yTm7EgW {

margin: 0 10px 0 0;

padding: 5px 10px;

background: none;

border: none;

cursor: pointer;

outline: none;
}

.jGm9Opw2 .lKj8ewR {

font-size: 1rem;

color: #ccd4da;
}

/* PROFILE PAGE */



/* ACCOUNT PAGE */

.jGyv6e1 {
	width: 370px;
	/* min-height: 480px; */
	margin: 60px auto 0;
	background: #ffffff;
	/* border-radius: 4px; */
	box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
	/* border: 1px solid #ececec; */
	overflow: hidden;
}

.jGyv6e1 .gjCm3au {
    padding: 50px 40px;
}

.jGyv6e1 .kGmu2pl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jGyv6e1 .pJv7beW {
	width: 100%;
	position: relative;
	margin: 6px 0;
}

.jGyv6e1 .mf7iQve {
	display: block;
	margin: 5px 0 7px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	pointer-events: none;
}

.jGyv6e1 .kJgRy92 {
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.3s ease;
}

.jGyv6e1 .vJF8Muc {
	width: 100%;
	padding: .85em .7em;
	border: 1px solid #e0e7ec;
	border-radius: 3px;
	outline: none;
	font-size: 13px;
	line-height: 1.15384615;
	transition: all 0.3s ease;
}

.jGyv6e1 .ivRmJ82 {
	border: 1px solid #f38181 !important;
}

.jGyv6e1 .vJF8Muc:focus {
	border-color: #5fa8d3;
	/*box-shadow: 0 0 3px 2px rgba(22, 28, 43, 0.25);*/
}

.jGyv6e1 .jGiVx8a {
	margin: 10px 0;
	padding: 10px 40px;
	background-color: #5fa8d3;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-size: 0.85rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
}

.jGyv6e1 .mGkiY7C {
	display: block;
	margin: 7px 0 0;
	color: #6a737c;
	font-size: 12px;
}

.jGyv6e1 .vk9Muy3 {
	display: block;
	width: 100%;
	margin: 2px 0 10px;
	background: none;
	border: none;
	font-size: 13px;
	color: #5fa8d3;
	text-align: left;
	outline: none;
	cursor: pointer;
}

.jGyv6e1 .Vjru7i2 {
	margin: 7px 0;
}