
/* VARIABLES */

body {
	--lighttheme-light: #ffffff;
	--darktheme-light: #242333;
	--darktheme-dark: #1d1c29;
	--white: #ffffff;
}

/* ROOT */

body, html {
	padding: 0px;
	margin: 0px;
	background: var(--darktheme-dark);
	outline: none;
	user-select: none;
	min-width: 20rem;
	font-family: sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

span, p, a {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	word-wrap: break-word;
	text-decoration: none;
}

/* HIDDEN */

.uCjgR3ti {
	display: none;
}

/* LOGIN OR SIGNUP PAGE */

div.xKrjG39sL {
	width: 100%;
	display: inline-block;
	background: var(--darktheme-dark);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
}

div.xKrjG39sL button{
    background: none;
    border: none;
    font-size: 20px;
    color: #00ff85;
    padding: 10px;
    outline: none;
    margin: 5px 10px;
}

div#akFJ40vR {
	margin-top: 30px;
}

div.jASE9ghv {
	padding: 80px 1.5rem 0px;
}

div.jASE9ghv div form div.vkR43oAc {
	margin: 0px 0px 15px;
}

div.jASE9ghv div form div.vkR43oAc span {
	display: block;
	font-weight: bold;
	font-size: 0.75rem;
	color: #9c9c9c;
	text-rendering: optimizeLegibility;
	margin-bottom: 5px;
	letter-spacing: 0.1rem;
}

div.jASE9ghv div form div.vkR43oAc input {
	width: -webkit-fill-available;
	background: none;
	border: none;
	border: 1px solid #ebebeb;
	padding: 10px 10px;
	outline: none;
	color: #484848;
	font-size: 0.95rem;
	font-weight: bold;
	line-height: 1.125rem;
	border-radius: 2px;
}

div.jASE9ghv div form div.Kc8jGzbR {
	text-align: center;
}

div.jASE9ghv div form div.Kc8jGzbR button.vRxkJCc3 {
	padding: 10px 30px;
	background-image: linear-gradient(to right, #00ff72, #00ffc9);
	border: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	border-radius: 50px;
}

div.jASE9ghv div form div.Kc8jGzbR button.cKr4hVqkS {
	display: block;
	font-weight: bold;
	font-size: 0.75rem;
	color: #b9b9b9;
	text-rendering: optimizeLegibility;
	border: none;
	background: none;
	outline: none;
}

div.jASE9ghv div form b.jgHkrEl2 {
	display: block;
	font-size: 0.718rem;
	text-align: center;
	color: #737373;
	margin: 15px 0px;
}

div.jASE9ghv div form b.jgHkrEl2 a {
	color: #5abbff;
	text-decoration: none;
}

/* HOME PAGE */


/* PROFILE PAGE */

div.jGh4C3iW div.irJk78cf {
	background: var(--darktheme-dark);
	/* border-bottom: 1px solid #2c2b3e; */
}

div.jGh4C3iW div.irJk78cf div.banner-container {
	background-image: url(../img/nezukoo.png);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 150px;
	display: none;
	object-fit: cover;
}

div.jGh4C3iW div.irJk78cf div.banner-container:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	/* background: -webkit-linear-gradient(bottom, rgb(29, 28, 41) 0%, rgba(255, 255, 255, 0) 25%); */
	/* background: linear-gradient(to top, rgb(29, 28, 41) 0%, rgba(255, 255, 255, 0) 25%); */
}

div.jGh4C3iW div.irJk78cf div.avatar-wrapper {
	/* bottom: calc(0% - 3.25rem); */
	/* margin-left: calc(50% - 3.375rem); */
}

div.jGh4C3iW div.irJk78cf div.avatar-wrapper img {
	width: 6.75rem;
	height: 6.75rem;
	border-radius: 50%;
	border: 5px solid var(--darktheme-light);
	background: var(--darktheme-light);
}

div.jGh4C3iW div.irJk78cf div.profile-wrapper {text-align: center;}

div.jGh4C3iW div.irJk78cf div.profile-wrapper div.information-container {
	padding: 5px 30px 10px;
}

div.jGh4C3iW div.irJk78cf div.profile-wrapper div.information-container span {
	margin: 0px;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.15;
	text-rendering: optimizeLegibility;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #f9f9fa;
	text-align: center;
}

div.jGh4C3iW div.irJk78cf div.profile-wrapper div.information-container span.username {
	font-size: 0.8rem;
	color: #b0aebb;
	font-weight: 200;
	margin-bottom: 5px;
}

div.jGh4C3iW div.irJk78cf div.profile-wrapper div.information-container span.bio {
	display: block;
	text-align: left;
	color: #f9f9fa;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

div.jGh4C3iW div.information-container p {
	display: block;
	text-align: center;
	color: #f9f9fa;
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 18px;
	/* padding: 0.5rem 2rem; */
}

div.jGh4C3iW div.option-wrapper {
	text-align: right;
}

div.jGh4C3iW div.option-wrapper a {
	margin: 0px 10px;
}

div.jGh4C3iW div.option-wrapper a span {
	padding: 5px 10px;
	background: #ffffff;
	color: var(--darktheme-dark);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}

/*div.jGh4C3iW div.option-wrapper a {
	padding: 10px;
}

div.profile-wrapper div.option-wrapper a i {
	font-size: 19px;
	color: #ffffff;
}*/

div.jGh4C3iW ul.statistic-container {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	list-style-type: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0px auto;
	margin-bottom: 0pc;
	padding: 2px 0px 15px;
}

div.jGh4C3iW ul.statistic-container li.statistic {
	list-style: none;
	width: 24%;
	display: inline-block;
	float: left;
	text-align: center;
}

div.jGh4C3iW ul.statistic-container li a {
	display: block;
	font-size: 0.7rem;
	font-weight: 200;
	color: #ffffff;
	font-family: sans-serif;
}

div.jGh4C3iW ul.statistic-container li a span {
	display: block;
	font-size: 0.925rem;
	font-weight: 600;
	color: #ffffff;
	font-family: sans-serif;
	margin: 2px 0px;
}

div.jGh4C3iW div.navigation-wrapper {
	height: 20px;
	padding: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

div.jGh4C3iW div.navigation-wrapper::-webkit-scrollbar {
	display: none;
	scroll-behavior: smooth;
}

div.jGh4C3iW div.navigation-wrapper a {
	margin: 0px;
	font-size: 0.95rem;
	font-weight: bold;
	line-height: 1.15;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #f9f9fa;
	text-align: center;
}

div.feed-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 0px 0px;
	margin-bottom: 10px;
}

div.feed-container div.post-container {
	padding: 10px;
	width: 100%;
}

div.feed-container div.post-container div.content-container {
	margin-left: 3.5rem;
	min-height: 55px;
}

div.feed-container div.post-container div.content-container div.post-header {
	display: flex;
	margin-bottom: 2px;
}

div.feed-container div.post-container div.content-container div.post-header a.user-information img.avatar {
	float: left;
	margin-top: 3px;
	margin-left: -3.5rem;
	position: absolute;
}

div.feed-container div.post-container div.content-container div.post-header a.user-information img.avatar {
	width: 2.95rem;
	height: 2.95rem;
	border-radius: 50%;
	border: 2px solid var(--darktheme-light);
}

div.feed-container div.post-container div.content-container div.post-header a.user-information span.time {
	font-size: 0.785rem;
	color: #b0aebb;
	font-weight: normal;
}

div.feed-container div.post-container div.content-container div.post-header a.user-information span.time:before {
	content: "";
	background: #b0aebb;
	margin: 3px 0px;
	margin-right: 5px;
	margin-left: 2px;
	width: 3px;
	height: 3px;
	display: inline-block;
	border-radius: 50%;
}

div.feed-container div.post-container div.content-container div.post-context {
	margin-bottom: 2px;
}

div.feed-container div.post-container div.content-container div.post-context p {
	font-size: 0.875rem;
	line-height: 1.1rem;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: #f9f9fa;
}

div.feed-container div.post-container div.content-container div.post-context div.media-wrapper {
	margin-top: 5px;
	max-width: 506px;
	max-height: 506px;
}

div.feed-container div.post-container div.content-container div.post-context div.media-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: var(--darktheme-dark);
}

div.feed-container div.post-container div.content-container div.post-actions button {
	background: none;
	border: none;
	outline: none;
	padding: 0px 1px;
	margin: 0px;
}

div.feed-container div.post-container div.content-container div.post-actions i {
	color: #b0aebb;
	font-size: 0.95rem;
	padding: 5px;
}

div.feed-container div.post-container div.content-container div.post-actions i.comment-active {
	color: #43c5ff;
}

div.feed-container div.post-container div.content-container div.post-actions i.like-active {
	color: #c53636;
}

div.feed-container div.post-container div.content-container div.post-actions i.retweet-active {
	color: #5acc5e;
}

div.feed-container div.post-container div.top-container span {
	float: left;
}

div.feed-container div.post-container div.top-container div.picture-container img {
	width: 40px;
	border-radius: 50%;
}

div.feed-container div.post-container a div img {
	width: 100%;
	height: 100%;
}

.fullname {
	word-break: break-all;
	color: #f9f9fa;
	font-size: 0.875rem;
	font-weight: bold;
}

.text-turncate {
	max-width: 100%;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	white-space: nowrap!important;
	word-wrap: normal!important;
}