RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

#RewriteCond %{REQUEST_FILENAME}\.php -f

# URL REWRITE RULES

RewriteRule ^home index.php [NC,L]

RewriteRule ^account account.php [NC,L]

RewriteRule ^user/([])/([0-9a-zA-Z_]+)?$ profile.php?id=$1 [NC,L]