
/* PAGE */

body, html {
	padding: 0px;
	margin: 0px;
	background: #242333;
	outline: none;
	user-select: none;
	min-width: 320px;
}

body::-webkit-scrollbar{
    display: none;
}

span, p, a {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	word-wrap: break-word;
}

/* CONTENT CONTAINER */

#content {
	height: auto;
	min-width: 20rem;
}

/* CHANNEL CONTAINER */

div.profile-container div.header-container {
	background: #1d1c29;
	box-shadow: 0px 0px 20px #0d0c13;
}

div.profile-container div.header-container div.banner-container {
	position: relative;
	background-image: url(/RV/client/img/nezukoo.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 150px;
}

div.profile-container div.header-container div.banner-container:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(bottom, rgb(29, 28, 41) 0%, rgba(255, 255, 255, 0) 25%);
	background: linear-gradient(to top, rgb(29, 28, 41) 0%, rgba(255, 255, 255, 0) 25%);
}

div.profile-container div.header-container div.avatar-wrapper {
	position: absolute;
	bottom: -46px;
	left: 15px;
}

div.profile-container div.header-container div.avatar-wrapper img {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	border: 2px solid #1b1a26;
	background: #1d1c29;
}

div.profile-container div.information-container {
	padding: 15px;
	padding-top: 46px;
}

div.profile-container div.information-container span {
	margin: 0px;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.15;
	text-rendering: optimizeLegibility;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #f9f9fa;
}

div.profile-container div.information-container span.username {
	font-size: 0.8rem;
	color: #b0aebb;
	margin-bottom: 5px;
}

div.profile-container div.information-container p {
	display: block;
	text-align: left;
	color: #f9f9fa;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

/*div.profile-container div.header-container div.channel-container { 
	position: relative;
	display: flex;
}

div.profile-container div.header-container div.channel-container div.channel-wrapper {
	width: 100%;
	padding: 16px 15px 4px;
	position: relative;
	z-index: 1;
	min-width: 0;
}*/

div.profile-container ul.statistic-container {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	list-style-type: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 5px auto;
	margin-bottom: 0pc;
	padding: 10px 0px;
}

div.profile-container ul.statistic-container li.statistic {
	list-style: none;
	width: 24%;
	display: inline-block;
	float: left;
	text-align: center;
}

div.profile-container ul.statistic-container li a {
	margin: 0px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.43;
	text-rendering: optimizeLegibility;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #f9f9fa;
}

div.profile-container ul.statistic-container li a span {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #b0aebb;
	font-family: sans-serif;
}

/* PROFILE FEED CONTAINER */

div.profile-container div.feed-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}

div.profile-container div.feed-container div.post-container {
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
}

div.profile-container div.feed-container div.post-container div.content-container {
	margin-left: 56px;
	min-height: 56px;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-header {
	display: flex;
	margin-bottom: 2px;
}

.profile-container .feed-container .post-container .content-container .post-header .user-information .avatar {
	float: left;
	margin-top: 3px;
	margin-left: -58px;
	position: absolute;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-header a.user-information img.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-header a.user-information span.time {
	font-size: 14px;
	color: #b0aebb;
	font-weight: normal;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-header a.user-information span.time:before {
	content: "";
	background: #b0aebb;
	margin: 3px 0px;
	margin-right: 5px;
	margin-left: 2px;
	width: 3px;
	height: 3px;
	display: inline-block;
	border-radius: 50%;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-context {
	margin-bottom: 2px;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-context p {
	font-size: 13.5px;
	line-height: 17px;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: #f9f9fa;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-context div.media-wrapper {
	margin-top: 5px;
	max-width: 506px;
	max-height: 506px;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-context div.media-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: #1d1c29;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-actions i {
	color: #b0aebb;
	font-size: 15px;
	padding: 5px;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-actions i.comment-active {
	color: #43c5ff;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-actions i.like-active {
	color: #c53636;
}

div.profile-container div.feed-container div.post-container div.content-container div.post-actions i.retweet-active {
	color: #5acc5e;
}

div.profile-container div.feed-container div.post-container div.top-container span {
	float: left;
}

div.profile-container div.feed-container div.post-container div.top-container div.picture-container img {
	width: 40px;
	border-radius: 50%;
}

div.profile-container div.feed-container div.post-container a div img {
	width: 100%;
	height: 100%;
}

.fullname {
	word-break: break-all;
	color: #f9f9fa;
	font-size: 14px;
	font-weight: bold;
}

.text-turncate {
	max-width: 100%;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	white-space: nowrap!important;
	word-wrap: normal!important;
}

div.divider-wrapper {
	text-align: center;
	position: relative;
	top: 2px;
	padding-top: 1px;
	margin-bottom: 5px;
	line-height: 0;
	width: 100%;
}

div.divider-wrapper:after {
	content: "";
	width: 100%;
	background-color: transparent;
	display: block;
	height: 1px;
	border-top: 1px solid #1b1a26;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	z-index: 1;
}

div.divider-wrapper h5 {
	line-height: 1;
	font-size: 12px;
	color: #657786;
	font-weight: 400;
	z-index: 2;
	position: relative;
	display: inline-block;
	background-color: #21202d;
	padding: 0 8px 0 7px;
	margin: 5px 0px;
}

/* HEADER CONTAINER */
/*
div.header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding-left: 1.25rem;
	background: transparent;
	box-sizing: border-box;
	z-index: 1;
}

div.header-container div.avatar-container {
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 50%;
}

div.header-container div.avatar-container div.avatar-wrapper {
	position: relative;
	width: 2.125rem;
	height: 3.25rem;
	flex: 0 0 3.25rem;
	margin-right: .625rem;
	border-radius: 50%;
	background-color: #1b1a26;
}

div.header-container div.avatar-container div.avatar-wrapper img.avatar-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	border-radius: 50%;
	z-index: 1;
}

div.header-container div.avatar-container div.avatar-wrapper:after {
	background-color: #ffffff;
	
}

div.header-container div.avatar-container div.avatar-wrapper:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	content: "";
	border-radius: 50%;
	border: .125rem solid transparent;
	transition: border-color .2s ease;
}

div.header-container div.avatar-container div.information-wrapper h3 {
	margin: 0px;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.43;
	text-rendering: optimizeLegibility;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
