html:not(.style-scope) {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f2f2f2;
	--primary-text-color: #212121;
	--secondary-text-color: #b0aebb;
}

html:not(.style-scope) {
	--divider-color: #dbdbdb;
	--error-color: #dd2c00;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

body {
	background-color: var(--primary-background-color);
}

body {
	font-family: sans-serif;
}

article, aside, footer, header, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6, a, p, span {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

input[type=text],
input[type=password],
input[type=email] {
	box-sizing: border-box;
}

.gjRu98C {
	text-align: center !important;
}

/* ACCOUNT */

.jGyv6e1 {
	width: 370px;
	min-height: 480px;
	margin: 60px auto 0;
	background: #ffffff;
	border-radius: 4px;
	/* box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1); */
	border: 1px solid #ececec;
	overflow: hidden;
}

.jGyv6e1 .gjCm3au {
    padding: 60px 40px;
}

.jGyv6e1 .kGmu2pl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
}

.jGyv6e1 .pJv7beW {
	width: 100%;
	position: relative;
	margin: 8px 0;
}

.jGyv6e1 .mf7iQve {
	display: block;
	margin: 5px 0;
	font-weight: bold;
	font-size: 13px;
	pointer-events: none;
}

.jGyv6e1 .mf7iQve::after {
	content: "";
	width: 0%;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	border-bottom: 1px solid #5fa8d3;
	transition: width 0.3s ease;
}

.jGyv6e1 .kJgRy92 {
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.3s ease;
}

.jGyv6e1 .vJF8Muc {
	width: 100%;
	padding: .85em .7em;
	border: 1px solid #e0e7ec;
	border-radius: 3px;
	outline: none;
	font-size: 13px;
	line-height: 1.15384615;
	transition: all 0.3s ease;
}

.jGyv6e1 .vJF8Muc:focus {
	border-color: #5fa8d3;
	box-shadow: 0 0 3px 2px rgba(22, 28, 43, 0.25);
}

.jGyv6e1 .jGiVx8a {
	margin: 10px 0;
	padding: 10px 40px;
	background-color: #4abcff;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-size: 0.85rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
}

.jGyv6e1 .mGkiY7C {
	display: block;
	margin: 7px 0 0;
	color: #6a737c;
	font-size: 12px;
}